body{
    height: 100vh;
}

.mydiv{
    background: red;
    width: 100%;
    min-width: 320px;
    max-width: 1000px;
    height: 50px;
    min-height: 20px;
    max-width: 20px;
}
.myspan{
    background: green;
    
}